.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 30px;
}

.custom-button {
    background-color: #12688e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0d4f71;
}

.button-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.button-nav{
    margin-top: 20px;
}