/* You can add global styles to this file, and also import other style files */

:root {
    --color-brand-01-lightest: #d7f0fe;
    --color-brand-01-lighter: #9cd8fc;
    --color-brand-01-light: #6bc5fa;
    --color-brand-01-base: #045b8f;
    --color-brand-01-dark: #013f65;
    --color-brand-01-darker: #002944;
    --color-brand-01-darkest: #00182b;
    --color-brand-02-base: #045b8f;
    --color-brand-03-base: #045b8f;
    --color-neutral-dark-70: #4d4d4d;
    --color-neutral-dark-80: #363636;
    --color-neutral-dark-90: #1a1a1a;
    --color-neutral-dark-95: #0d0d0d;
    --color-neutral-light-00: #ffffff;
    --color-neutral-light-05: #f2f2f2;
    --color-neutral-light-10: #e5e5e5;
    --color-neutral-light-20: #cccccc;
    --color-neutral-light-30: #b2b2b2;
    --color-neutral-mid-40: #999999;
    --color-neutral-mid-60: #666666;
  
    --font-family-theme: "NunitoSans", sans-serif;
    --font-family-theme-bold: "NunitoSans Bold", sans-serif;
    --font-family-theme-extra-light: "NunitoSans Extra Light", sans-serif;
    
    --font-family: var(--font-family-theme);
    --font-family-bold: var(--font-family-theme-bold);
    --font-family-extra-light: var(--font-family-theme-extra-light);
  }